.survey {
  width: 800px;
  margin: auto;
}

.head {
  background: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  margin-bottom: 24px;
}

.form {
  background: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
}
