body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 400px;
  height: 100%;
}

.header {
  height: 80px;
  border-bottom: 1px solid #000;
  background: #fff;
}

.content {
  min-height: 80vh;
  padding: 24px;
}

.footer {
  bottom: 0;
  background: #fff;
  text-align: center;
}
